@import url('https://fonts.googleapis.com/css?family=Open Sans');
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
body {
  margin: 0;
  padding: 0;
  background: #eee9e6;
}
.judul {
  margin-top: 40px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 50px;
}
.container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
}
.left {
  background-color: #ffaa44;
  width: 500px;
  height: 600px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.left img {
  max-height: 400px;
  margin-top: 90px;
  margin-left: 50px;
}
.right {
  margin-left: 35px;
}
.isian {
  margin-top: 20px;
}
form label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 3px;
  margin-top: 30px;
}

.isian input {
  width: 400px;
  height: 25px;
  margin: 2px;
  margin-top: 10px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #ffaa44;
  transition: 0.5s;
}
.isian input:focus {
  box-shadow: 0 0 20px #ffce93;
  transition: 0.3s;
}

.isian input[type='password'] {
  width: 348px;
  padding-right: 60px;
}
input[type='submit'] {
  width: 120px;
  height: 45px;
  border: none;
  background: #ffaa44;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 150px;
  margin-top: 40px;
}
input[type='submit']:hover {
  background: #ff8c00;
  transition: 0.5s;
}
.opsi {
  margin-top: 40px;
}
.btn-link a {
  text-decoration: none;
  font-weight: bold;
  color: #ffaa44;
  transition: 0.5s;
}
.btn-link :hover {
  color: #ff8c00;
  transition: 0.5s;
}
.pass-icon {
  width: 26px;
  position: absolute;
  top: 300px;
  right: 45px;
  cursor: pointer;
  padding-right: 15px;
  padding-left: 15px;
}
