@import url('https://fonts.googleapis.com/css?family=Open Sans');
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
body {
  margin: 0;
  padding: 0;
  background: #eee9e6;
  overflow-x: hidden;
}

::selection {
  background-color: #ffcd81;
  color: black;
}
::-webkit-scrollbar {
  width: 13px;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: #f9f6f4;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #ffaa44;
  border: 0.25em solid #f9f6f4;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8c00;
}

/* navbar */
.nav {
  top: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1000;
  background-color: #eee9e6;
}
.logo {
  width: 200px;
  cursor: pointer;
  margin-left: 40px;
}
.nav ul li {
  font-weight: 600;
  letter-spacing: 0.3px;
  list-style: none;
  display: inline-block;
  margin-left: 0 20px;
  padding-left: 60px;
}
.nav a {
  text-decoration: none;
  color: #909090;
  font-size: 18;
  transition: 0.5s;
}
.nav ul li a:hover {
  color: #ffcd81;
  transition: 0.5s;
}
.nav .strong {
  color: #ffaa44;
}
.strong {
  color: #ffaa44;
}
.search input {
  width: 400px;
  height: 45px;
  margin-left: 80px;
  border: none;
  background-color: #eee9e6;
  outline: none;
  padding: 8px;
  padding-left: 60px;
  border-radius: 8px;
  border: 2px solid #ffaa44;
  transition: 0.5s;
}
.search input:focus {
  border: 2px solid #ffaa44;
  box-shadow: 0 0 20px #ffce93;
  transition: 0.3s;
}

.search-icon {
  width: 24px;
  margin-left: -380px;
}
.tombol {
  margin-left: 420px;
  display: flex;
}
.tombol .btn-daftar input[type='button'] {
  width: 90px;
  height: 35px;
  background: #eee9e6;
  border: 2px solid #ffaa44;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #ffaa44;
  transition: 0.5s;
  cursor: pointer;
  margin-right: 30px;
}
.tombol .btn-daftar input[type='button']:hover {
  background: #ffaa44;
  color: white;
  transition: 0.5s;
}
.tombol .btn-login input[type='button'] {
  width: 90px;
  height: 35px;
  background: #ffaa44;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  margin-right: 30px;
}
.tombol .btn-login input[type='button']:hover {
  background: #ff8c00;
  transition: 0.5s;
}
.tombol .btn-logout input[type='button'] {
  width: 140px;
  height: 40px;
  background: #ffaa44;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  margin-left: 50px;
}
.tombol .btn-logout input[type='button']:hover {
  background: #ff8c00;
  transition: 0.5s;
}
/* kategori */
.kategori {
  margin: auto;
  width: 1000px;
  margin-top: 40px;
  background-color: #f9f6f4;
  border-radius: 10px;
}
.jkategori {
  padding-top: 34px;
  margin-bottom: 36px;
  margin-left: 60px;
  font-size: 20px;
}

.card-list {
  display: block;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  display: inline-block;
  min-width: 144px;
  min-height: 186px;
  max-width: 144px;
  max-height: 186px;
  margin: 0 30 50 30;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid orange;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-15px) scale(1.0125);
}

.card-description {
  display: block;
  color: black;
  text-decoration: none;
}

.card-description p {
  margin: 0;
  padding-bottom: 30px;
}
.card-image {
  display: block;
  min-height: 100px;
  max-height: 100px;
  padding-bottom: 30px;
  background-size: 100%;
}

.card-image > img {
  display: block;
  width: 80px;
  margin-left: 30px;
  padding-top: 20px;
}
/* alat , */
.baru {
  margin: auto;
  width: 1000px;
  height: 400px;
  margin-top: 35px;
  background-color: #f9f6f4;
  border-radius: 10px;
}
.kursor {
  display: flex;

  padding-bottom: 20px;
}
.kursor h2 {
  margin-top: 40;
  margin-left: 60px;
  min-width: 400;
}
.kursor span {
  margin-top: 40;
  margin-right: 24;
  width: 24px;
  border: 2px solid #ffaa44;
  border-radius: 100px;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.kursor .kiri {
  margin-left: 400;
}
.kursor span:hover {
  transition: 0.5s;
  background-color: #ffeed9;
}
section {
  display: flex;
  float: right;
  width: 940px;
  margin-right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
section::-webkit-scrollbar {
  display: none;
}
section .produk {
  text-decoration: none;
  min-width: 400;
  max-width: 400;
  height: 250;
  background: #ffaa44;
  margin: 0 20px 0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
}
.produk img {
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  overflow: hidden;
  margin-bottom: 5px;
}
.detail {
  width: 90%;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  color: white;
}

.paket {
  margin: auto;
  width: 1000px;
  height: 400px;
  margin-top: 35px;
  background-color: #f9f6f4;
  border-radius: 10px;
}
.paket-sewa a {
  text-decoration: none;
}
.produk2 small {
  margin-left: 10px;
  line-height: 30px;
}
section .produk2 {
  text-decoration: none;
  min-width: 600;
  max-width: 600;
  height: 300;
  margin-right: 20px;
  position: relative;
  left: 0;
  transition: 0.5s;
}
.produk2 img {
  width: 260px;
  margin-left: auto;
  margin-right: 10;
  display: flex;
  overflow: hidden;
}

.detail2 {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  color: black;
}
.detail2 b {
  letter-spacing: 1px;
}
.user {
  margin-left: 270px;
  margin-top: 30px;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
}
.user img {
  max-width: 56px;
  max-height: 56px;
  border-radius: 500px;
}
.user p {
  margin-left: 70px;
  margin-top: -43px;
}

.con-profil {
  margin: auto;
  width: 1000px;
  margin-top: 40px;
  background-color: #f9f6f4;
  border-radius: 10px;
}
.con-profil h2 {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 60px;
}
.con-profil table {
  width: 80%;
  margin: 0 auto;
}
.con-profil tr td {
  padding-bottom: 15px;
}
.con-profil td {
  font-weight: 600;
  font-size: 17px;
}
.con-profil input[type='text'],
.con-profil input[type='email'] {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 8px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #ffaa44;
  transition: 0.5s;
  background-color: #f9f6f4;
}
.con-profil input[type='text']:focus,
.con-profil input[type='email']:focus {
  border: 2px solid #ffaa44;
  box-shadow: 0 0 10px #ffce93;
  transition: 0.3s;
}
.con-profil input[type='number'] {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 8px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #ffaa44;
  transition: 0.5s;
  background-color: #f9f6f4;
}
.con-profil input[type='number']:focus {
  border: 2px solid #ffaa44;
  box-shadow: 0 0 10px #ffce93;
  transition: 0.3s;
}
.con-profil input[type='number']::-webkit-inner-spin-button,
.con-profil input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.con-profil input[type='submit'] {
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 17px;
  display: block;
  margin: 30 auto;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  background-color: #ffaa44;
  transition: 0.5s;
  cursor: pointer;
}
.con-profil input[type='submit']:hover {
  background-color: #ff8c00;
}
.konten {
  margin: auto;
  margin-top: 40px;
  width: 80%;
  margin-bottom: 30px;
}
.konten h2 {
  font-size: 20px;
  margin-bottom: -25;
}
.konten a {
  text-decoration: none;
  color: black;
}
.konten-alat {
  display: block;
  margin-top: 20px;
  width: 100%;
}
.alat {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20.3px;
  margin-top: 35px;

  transition: 0.3s;
}
.alat:hover {
  transform: scale(1.02);

  transition: 0.3s;
}
.alat img {
  width: 200px;
  height: 200px;
}
.alat h2 {
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.alat p {
  font-size: 16px;
  font-weight: 600;
  color: #ffaa44;
}
.con-detail {
  width: 70%;
  display: flex;
  margin: auto;
  margin-top: 40px;
}
.con-detail img {
  width: 400px;
}
.info {
  margin-left: 50px;
}
.info h1,
.info h2,
.info h3 {
  min-width: 500px;
}
.info h2 {
  margin-top: 10px;
  color: #ffaa44;
}
.jaminan {
  margin-top: 40px;
}
.jaminan table {
  width: 100%;
  margin-top: 15px;
}
.jaminan tr td {
  padding-bottom: 15px;
}
.btn-detail {
  margin-top: 28px;
  display: flex;
}
.wish {
  width: 140px;
  height: 50px;
  background-color: #ffaa44;
  align-items: center;
  margin-left: 20px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.wish:hover {
  background-color: #ff8c00;
  transition: 0.3s;
  cursor: pointer;
}
.wish img {
  width: 30;
  margin-top: 10px;
  margin-left: 10px;
}
.wish p {
  font-weight: 500;
  position: absolute;
  margin-top: -25px;
  margin-left: 50px;
  color: white;
}
.btn-detail p {
  margin-top: auto;
  margin-bottom: 0px;
  margin-left: 20px;
}
.btn-detail input[type='submit'] {
  width: 160px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 20px;
  display: block;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  background-color: #ffaa44;
  transition: 0.5s;
  cursor: pointer;
}
.btn-detail input[type='submit']:hover {
  background-color: #ff8c00;
}
.btn-detail a {
  text-decoration: none;
}

.spek {
  width: 70%;
  margin: auto;
  margin-top: 40px;

  display: block;
}
.spek h1 {
  min-width: 1000px;
}
.spek table {
  width: 100%;
  margin-top: 30px;
}
.spek td {
  font-size: 24px;
  font-weight: 600;
}
.spek .isi {
  padding-bottom: 40px;
  color: #ffaa44;
}
.jsewa {
  width: 70%;
  margin: auto;
  margin-top: 60px;
}
.jsewa h1 {
  font-size: 27px;
}
.con-sewa {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  display: flex;
}
.wrap-sewa {
  width: 68%;
}
.wrap-total {
  width: 32%;
}
.sewa-alat {
  width: 720px;
  display: flex;
  margin-bottom: 70px;
}
.sewa-alat img {
  width: 200px;
  height: 200px;
}
.info-alat {
  width: 500px;
  display: block;
}
.info-alat h2 {
  min-width: 400px;
  margin-left: 40px;
}
.info-alat h3 {
  margin-top: 10px;
  margin-left: 40px;
}
.tambah {
  margin-top: 60px;
  margin-left: 40px;
}
.tambah p {
  margin-bottom: 10px;
}

.btn-plus {
  display: inline-block;
  margin: 0px;
  width: 35px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  margin-left: -5px;
  margin-top: -1.8px;
  background: #ffaa44;
  user-select: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-plus:hover {
  cursor: pointer;
  background-color: #ff8c00;
}
.btn-min {
  display: inline-block;
  margin: 0px;
  width: 35px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  margin-top: -1.8px;
  background: #ffaa44;
  user-select: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tambah .btn-tambah img {
  margin-top: -90px;
  width: 18px;
}

.btn-min:hover {
  cursor: pointer;
  background-color: #ff8c00;
}
.btn-tambah form {
  margin: 0px;
  padding: 0px;
}

.btn-tambah input[type='number'] {
  text-align: center;
  border: none;
  outline: none;
  border-top: 1px solid #ffaa44;
  border-bottom: 1px solid #ffaa44;
  margin-left: -5px;
  width: 40px;
  height: 40px;
}

.btn-tambah input[type='number']::-webkit-inner-spin-button,
.btn-tambah input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.jangka .btn-tambah {
  margin-top: 10px;
}
.total-sewa {
  width: 100%;
  border-radius: 10px;
  background-color: #f9f6f4;
  margin-left: auto;
  margin-right: 0px;
  position: flex;
  padding-bottom: 20px;
}
.total-sewa h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.jangka {
  margin-left: 20px;
}
.jangka img {
  margin-top: 1px;
  width: 18px;
}
.total-sewa table {
  margin-top: 40px;
  width: 100%;
  text-align: left;
  padding-bottom: 30px;
}
.total-sewa tr td {
  padding-bottom: 15px;
}
.jangka th {
  font-size: 20px;
  padding-top: 20px;
}
.jangka-kiri {
  width: 47%;
}
.btn-sewa input[type='submit'] {
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 17px;
  display: block;
  margin: 30 auto;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  background-color: #ffaa44;
  transition: 0.5s;
  cursor: pointer;
}
.btn-sewa input[type='submit']:hover {
  background-color: #ff8c00;
}
.penerimaan {
  background-color: #f9f6f4;
  border-radius: 10px;
  width: 640px;
}
.penerimaan h2 {
  padding-top: 10px;
  margin-left: 20px;
}
.penerimaan p {
  margin-top: 10px;
  margin-left: 20px;
}
.penerimaan select {
  margin-top: 10px;
  margin-left: 20px;
}
.alamat {
  padding-top: 25px;
}
.penerimaan textarea {
  margin-top: 10px;
  margin-left: 20px;
  border: 2px solid #ffaa44;
  border-radius: 5px;
  outline: none;
  width: 600px;
  height: 120px;
  padding: 8px;
  margin-bottom: 20px;
  resize: none;
}
.penerimaan textarea:focus {
  border: 2px solid #ffaa44;
  box-shadow: 0 0 10px #ffce93;
  transition: 0.3s;
}
.con-nota {
  width: 70%;
  margin-left: 200px;
  margin-top: 60px;
}
.con-nota h1 {
  font-size: 27px;
  padding-bottom: 40px;
}

.nota {
  margin: auto;
  width: 90%;
  padding-bottom: 40px;
  color: black;
}

.con-nota a {
  text-decoration: none;
}
.nota h2 {
  font-size: 22px;
}
.nota h3 {
  font-size: 20px;
  margin-top: 15px;
}
.nota .line {
  height: 3px;
  width: 100%;
  background-color: #f2dabd;
  border-radius: 10px;
  margin-top: 15px;
}
.con-denota {
  width: 70%;
  margin: auto;
  margin-top: 40px;
}
.con-denota h1 {
  font-size: 27px;
  padding-bottom: 10px;
}
.denota {
  margin-top: 40px;
  background-color: #f9f6f4;
  border-radius: 10px;
  height: 480px;
  overflow: hidden;
  overflow-y: scroll;
}
.denota .tb1 {
  margin: auto;
  width: 90%;
  padding-top: 50px;
}
.denota th {
  padding-bottom: 30px;
  font-size: 24px;
}
.th1 {
  width: 46%;
  text-align: left;
}
.th2,
.th3,
.th4 {
  width: 18%;
  text-align: center;
}
.denota tr td {
  font-size: 20px;
  padding-bottom: 20px;
}
.denota-jumlah {
  text-align: center;
}
.denota-harga {
  padding-left: 30px;
}
.total-harga {
  margin: auto;
  width: 90%;
  padding-top: 35px;
}
.total-harga th {
  font-size: 27px;

  padding-bottom: 45px;
  margin-top: -20px;
}

.total-harga1 {
  text-align: left;
}
.guest {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}
.guest img {
  width: 340px;
  margin: auto;
}
.guest h2 {
  margin-top: 40px;
}
.guest h3 {
  margin-top: 25px;
}
.btn-guest {
  display: flex;
  width: 310;
  margin: auto;
  margin-top: 40px;
}
.btn-guest .btn-daftar input[type='button'] {
  width: 140px;
  height: 50px;
  background: #eee9e6;
  border: 2px solid #ffaa44;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #ffaa44;
  transition: 0.5s;
  cursor: pointer;
  margin-right: 30px;
}
.btn-guest .btn-daftar input[type='button']:hover {
  background: #ffaa44;
  color: white;
  transition: 0.5s;
}
.btn-guest .btn-login input[type='button'] {
  width: 140px;
  height: 50px;
  background: #ffaa44;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.btn-guest .btn-login input[type='button']:hover {
  background: #ff8c00;
  transition: 0.5s;
}
.footer {
  background-color: #222530;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 50px 50px 40px 50px;
  margin-top: 80px;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
  align-items: center;
  width: 33%;
  font-size: 18px;
  margin-top: 0px;
}

.footer-left img {
  margin-top: 20px;
  width: 350px;
}
.footer-left p {
  margin-left: 55px;
  margin-top: 14;
  color: white;
  letter-spacing: 2.5px;
  font-weight: 90;
}

.footer-center ul li {
  list-style: none;
  text-decoration: none;
  margin-bottom: 25px;
}
.footer-center a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 100px;
  transition: 0.5s;
}
.footer-center ul li a:hover {
  color: #ffaa44;
  transition: 0.5s;
}

.footer-right img {
  width: 24px;
  stroke: white;
}
.footer-right table {
  margin-top: 24px;
}
.footer-right tr td {
  padding-bottom: 25px;
  padding-right: 10px;
  color: white;
  font-size: 18px;
}
/* ADMIIINNNN */
.side-bar .strong {
  color: #ffaa44;
}
.con-admin {
  display: flex;
}
.side-bar {
  width: 20%;
  height: 100vh;
  background-color: #f9f6f4;
  position: sticky;
  margin-top: 0px;
  margin-left: 0px;
}
.side-bar img {
  width: 65%;
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 1000px;
}
.logout {
  width: 90%;
  display: flex;
  margin: auto;
  margin-top: 20px;
}
.logout table {
  width: 90%;
  margin: auto;
  margin-top: 0px;
}
.logout td {
  font-weight: 600;
  font-size: 18px;
}
.logout img {
  width: 30px;
  margin-top: 9px;
  margin-left: 0px;
  transform: rotate(180deg);
  cursor: pointer;
}
.side-bar ul {
  margin-top: 40px;
  margin-left: 70px;
  list-style: none;
}
.side-bar li {
  padding-bottom: 15px;
}
.side-bar a {
  text-decoration: none;
  color: #909090;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  transition: 0.3s;
}
.side-bar a:hover {
  color: #ffcd81;
  transition: 0.3s;
}
.konten-admin {
  width: 80%;
}
.dash {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
.dash img {
  width: 400px;
}
.admin {
  width: 90%;
  margin: auto;
  margin-top: 70px;
}
.admin h2 {
  margin-top: 20px;
}
.admin-search input[type='text'] {
  width: 300px;
  height: 35px;
  margin-top: 50px;
  border: none;
  background-color: #eee9e6;
  outline: none;
  padding: 8px;
  padding-left: 60px;
  border-radius: 8px;
  border: 2px solid #ffaa44;
  transition: 0.3s;
}
.admin-search input[type='text']:focus {
  border: 2px solid #ffaa44;
  box-shadow: 0 0 20px #ffce93;
  transition: 0.3s;
}
.admin-search input[type='button'] {
  width: 150px;
  height: 55px;
  margin-top: 50px;
  margin-left: 20px;
  border: none;
  background-color: #ffaa44;
  color: white;
  outline: none;
  padding: 8px;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}
.admin-search input[type='button']:hover {
  transition: 0.5s;
  background-color: #ff8c00;
}
.admin-sch-icon {
  width: 26px;
  margin-top: -40px;
  margin-left: 16px;
  position: absolute;
}
.tbl-admin {
  width: 100%;
  background-color: #f9f6f4;
  border-radius: 10px;
  height: 450px;
  margin-top: 40px;
  overflow: hidden;
  overflow-y: scroll;
}
.tbl-head {
  width: 1091px;
  position: fixed;
  margin-top: 0;
  background-color: #f9f6f4;
  border-radius: 10px;
}
.tbl-admin table {
  margin-top: 10px;
  margin-left: 10px;
}
.tbl-admin th {
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 20px;
  margin-top: 0;
}
.tbl-isi {
  padding-top: 60px;
}
.tbl-isi tr td {
  font-size: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-color: 2px solid red;
}
.tbl-admin a {
  color: black;
  text-decoration: none;
}
.tbl-admin a:hover {
  color: #ffaa44;
}
.nomor {
  text-align: center;
  color: #ffaa44;
  width: 50px;
}
.tengah {
  padding-left: 10px;
  width: 850px;
}
.action {
  width: 200px;
  text-align: center;
}
.action input {
  width: 130px;
  height: 45px;
  background-color: #ffaa44;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 0.5px;
}
.action input:hover {
  background-color: #ff8c00;
  transition: 0.3s;
}
.action-kategori {
  width: 60px;
  text-align: center;
}
.action-kategori img {
  width: 30px;
  vertical-align: middle;
  margin-left: 8px;
}
.admin-form {
  width: 100%;
  height: 650px;
  border-radius: 10px;
  background-color: #f9f6f4;
  overflow: hidden;
  overflow-y: scroll;
}
.admin-form h3 {
  margin-top: 30px;
  text-align: center;
  font-size: 23px;
}
.admin-form table {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  font-size: 18px;
}
.admin-form tr td {
  padding-bottom: 30px;
  vertical-align: middle;
}
.admin-form input[type='text'] {
  width: 95%;
  height: 30px;
  border: none;
  outline: none;
  padding: 8px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #ffaa44;
  transition: 0.5s;
  background-color: #f9f6f4;
}
.admin-form input[type='text']:focus {
  border: 2px solid #ffaa44;
  box-shadow: 0 0 10px #ffce93;
  transition: 0.3s;
}
.kiri-form {
  width: 200px;
}

.select-image {
  display: block;
  width: 220px;
  height: 50px;
  border-radius: 5px;
  background: #ffaa44;
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.select-image:hover {
  background: #ff8c00;
}
.img-area {
  position: relative;
  width: 270px;
  height: 270px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ffaa44;
}

.img-area img {
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  z-index: 100;
  margin: auto;
}
.admin-form input[type='submit'] {
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 17px;
  display: block;
  margin: auto;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  background-color: #ffaa44;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
}
.admin-form input[type='submit']:hover {
  background-color: #ff8c00;
}
.admin-form input[type='file'] {
  cursor: pointer !important;
}
.admin-form input[type='file']::-webkit-file-upload-button {
  background: #ffaa44;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}
.admin-form input[type='file']::-ms-browse {
  background: #ffaa44;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}
.custom-select {
  position: relative;
  border: 2px solid #ffaa44;
  border-radius: 5px;
  font-size: 14px;
}

.custom-select select {
  display: none;
}

.select-selected {
  color: black;
  border: 2px solid #ffaa44;
  border-radius: 5px;
}

.select-selected:after {
  position: absolute;
  content: '';
  top: 22px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #ffaa44 transparent transparent transparent;
  border-radius: 5px;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #ffaa44 transparent;
  top: 14px;
}

.select-items div,
.select-selected {
  color: black;
  padding: 13px 8px;
  border: 1px solid transparent;
  border-color: transparent transparent #ffaa44 transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: #f9f6f4;
  border: 2px solid #ffaa44;
  width: 270px;
  top: 100%;
  left: -2px;
  right: 0;
  z-index: 1000;
  border-radius: 5px;
  margin-top: 20px;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #ffcd81;
}
.ket {
  width: 0px;
}
.ket input[type='text'] {
  width: 234px;
}
.spek-input {
  padding-left: 20px;
}
.spek-input input[type='text'] {
  width: 93%;
}
.admin-form input[type='number'] {
  width: 95%;
  height: 30px;
  border: none;
  outline: none;
  padding: 8px;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid #ffaa44;
  transition: 0.5s;
  background-color: #f9f6f4;
}
.admin-form input[type='number']:focus {
  border: 2px solid #ffaa44;
  box-shadow: 0 0 10px #ffce93;
  transition: 0.3s;
}
.admin-form input[type='number']::-webkit-inner-spin-button,
.admin-form input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.admin .con-profil input {
  height: 20px;
}
.admin .con-profil {
  padding-bottom: 40px;
  margin-top: 40px;
}
.user-admin {
  margin-left: 60px;
  margin-top: 100px;
  font-size: 23px;
  font-weight: 500;
}
.user-admin img {
  max-width: 56px;
  max-height: 56px;
  border-radius: 500px;
}
.user-admin p {
  margin-left: 70px;
  margin-top: -52px;
}
